<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script
      src="https://kit.fontawesome.com/1d273bf567.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Flights</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mybooking">My Bookings</a>
                </li>
            </ul>
            <span style="padding-right: 10px;"><%= Name %></span>
            <a href="/login"><span class="navbar-text">Logout</span></a>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="addflightform col-sm-6">    
            <div class="card bg-light">
                <div class="card-body">
                    <form action="/book" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" id="name" required>
                        </div>
                        
                    </div>
                    <div class="form-group row">
                        <label for="gender" class="col-sm-4 col-form-label">Gender</label>
                        <div class="col-sm-8 row">
                            <div class="col-sm-5">
                                <input type="radio" id="male" name="gender" value="Male">
                                <label for="male">Male</label><br>
                            </div>
                            <div class="col-sm-5">
                                <input type="radio" id="female" name="gender" value="Female">
                                <label for="female">Female</label><br>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="age" class="col-sm-4 col-form-label">Age</label>
                        <div class="col-sm-8">
                            <input type="number" name="age" id="age" min="1" max="120" required>
                        </div>
                    </div>
                    <input type="hidden" name="flightid" value="<%= flight_id %>">
                    <button type="submit" class="btn btn-dark">Book</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>