<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body> -->
<%- include("partials/header"); -%>
    <div class="container mt-5">
        <h1 style="text-align: center;">Login</h1>
        <div class="formcard col-sm-5">    
            <div class="card">
                <div class="card-body">
                    <!-- Makes POST request to /login route -->
                    <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <button type="submit" class="btn btn-dark">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <p style="text-align: center; padding-top: 2%;">Haven't credentials? <a href="/signup">signup</a></p>
    </div>
<%- include("partials/footer"); -%>
<!-- </body>
</html> -->